Dtaframe

In [22]:
import pandas as pd

df = {'Nomes':['Ricardo','João','Mateus','Ricardo'],
      'Nota':[8,5,9,7],
      'Aprovado':['Sim','Não','Sim','Sim']
    
}
alunos = pd.DataFrame(df)
alunos.head()

     Nomes  Nota Aprovado
0  Ricardo     8      Sim
1     João     5      Não
2   Mateus     9      Sim
3  Ricardo     7      Sim

In [23]:
df = {'Nomes':['Ricardo','','Mateus'],
      'Idade':[18,12,52],
    
}
idade = pd.DataFrame(df)
idade.head()

     Nomes  Idade
0  Ricardo     18
1              12
2   Mateus     52

MEGER

No método meger, acontece uma mesclagem entre os dados dos dois dataframe, atrelado pelos valores em COMUM de uma dada
coluna, no caso "Nomes" - por isso não puxou a idade 12, porque não tem o nome em COMUM

In [24]:
informacao = alunos.merge(idade,on=['Nomes'])
informacao.head()

     Nomes  Nota Aprovado  Idade
0  Ricardo     8      Sim     18
1  Ricardo     7      Sim     18
2   Mateus     9      Sim     52

JOIN

Este método é igual o meger, mas nesse caso o tipo de argumento é diferente

In [25]:
informacao2 = alunos.join(idade,on=['Nomes'])
informacao2.head()

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat