<a href="https://colab.research.google.com/github/Gabriel-datapy/Obras_Contagem/blob/master/Unidades_de_Sa%C3%BAde_MG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import seaborn as sns

url_existente = pd.read_csv('https://raw.githubusercontent.com/Gabriel-datapy/Unidades_de_Saude_MG-/master/ubs_existentesnone.csv.csv')
url_existente.head()

      no_cidade       nome_da_nidade    gid      valor  taxa
0  Palminópolis  <i>Palminópolis</i>   7616   <b>2</b>     2
1       Ituberá       <i>Ituberá</i>   7965  <b>13</b>    13
2    João Neiva    <i>João Neiva</i>  11105  <b>10</b>    10
3          Piau          <i>Piau</i>  10796   <b>2</b>     2
4   Pato Branco   <i>Pato Branco</i>   5990  <b>15</b>    15